$border-colour: #f5f4f4;

.container {
  display: flex;
  flex-direction: column;

  &__pageTitle {
    display: inline-block;
    text-align: left;
    border: solid 2px $border-colour;
  }
}

.containerInner {
  display: flex;
  flex-direction: column;
  flex-flow: row;

  ul {
    list-style: none;
    padding: 0px;
  }

  &__nav {
    cursor: pointer;
    width: 500px;
    height: 100vh;
    border-right: solid 2px $border-colour;
    background-color: transparent;

    &__highlighted {
      background-color: $border-colour;
    }

    li {
      padding: 25px;
      margin-left: 0;
    }
  }

  &__countryList {
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;

    &__closeButton {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 20px;

      img {
        cursor: pointer;
      }

      button {
        z-index: 20;
        margin-right: 40px;
      }
    }

    &__parent {
      max-height: 100vh;
      overflow-y: scroll;
    }

    &__title {
      font-weight: bold;
      background-color: $border-colour;

      h4 {
        padding: 40px 40px 40px 0px;
        margin: 0px 0px 0px 20px;
      }
    }
    ul {
      padding-left: 20px;
    }
    li {
      border-bottom: 2px solid $border-colour;
    }
    &__countryImage {
      width: 65%;
      padding: 20px;
    }
    &__countryData {
      width: 100%;
      padding: 20px;
      p {
        font-weight: bold;
      }
      h4 {
        border-bottom: 2px solid $border-colour;
        //padding-top: 15px;
        padding-bottom: 20px;
      }
    }
    li {
      cursor: pointer;
      height: 80px;
      p {
        padding: 0 50% 0 50%;
      }
    }
    li:active {
      background-color: black;
      color: white;
      padding: 0px;
    }
    li:focus {
      background-color: black;
    }
  }
}
