<div class="container">
  <div class="container__pageTitle">
    <h3>Countries</h3>
  </div>
  <div class="containerInner">
    <div class="containerInner__nav">
      <ul>
        <li><p>Home</p></li>
        <li class="containerInner__nav__highlighted"><p>Countries</p></li>
      </ul>
    </div>
    <div class="containerInner__countryList">
      <div class="containerInner__countryList__title">
        <h4>Countries ({{ listOfCountries.length }})</h4>
      </div>

      <div *ngFor="let country of listOfCountries; let index = index">
        <ul>
          <li class="countrySelection" (click)="showCountryData = true; countryIndex = index">{{ country.name }}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="showCountryData == true" class="containerInner__countryList__parent">
      <div class="containerInner__countryList__countryData">
        <div class="containerInner__countryList__closeButton">
          <div>
            <h4>{{ listOfCountries[countryIndex]?.name }}</h4>
          </div>
          <div>
            <img (click)="showCountryData = false" src="assets/close.png" alt="closeMenu" />
          </div>
        </div>
      </div>
      <img class="containerInner__countryList__countryImage" src="assets/image-placeholder_3x2.svg" alt="placeholder.png" />
      <div class="containerInner__countryList__countryData">
        <label for="population">Population</label>
        {{ listOfCountries[countryIndex]?.subregion }}
        <p id="population">{{ listOfCountries[countryIndex]?.population }}</p>
        <label for="alpha3Code">Alpha3Code</label>
        <p id="alpha3Code">{{ listOfCountries[countryIndex]?.alpha3Code }}</p>
        <label for="region">Region</label>
        <p id="region">{{ listOfCountries[countryIndex]?.region }}</p>
        <label for="subregion">Subregion</label>
        <p id="subregion">{{ listOfCountries[countryIndex]?.subregion }}</p>
      </div>
      <div class="containerInner__countryList__countryData" *ngFor="let currency of listOfCountries[countryIndex]?.currencies">
        <label for="code">Currency Code</label>
        <p id="code">{{ currency.code }}</p>
        <label for="currencyName">Currency Name</label>
        <p id="currencyName">{{ currency.name }}</p>
        <label for="currencySymbol">Currency Symbol</label>
        <p id="currencySymbol">{{ currency.symbol }}</p>
      </div>
      <div class="containerInner__countryList__countryData" *ngFor="let language of listOfCountries[countryIndex]?.languages">
        <label for="languageName">Language Name</label>
        <p id="languageName">{{ language.name }}</p>
        <label for="languageISO1">ISO639_1</label>
        <p id="languageISO1">{{ language.iso639_1 }}</p>
        <label for="languageISO2">ISO639_2</label>
        <p id="languageISO2">{{ language.iso639_2 }}</p>
        <label for="nativeName">Native Name</label>
        <p id="nativeName">{{ language.nativeName }}</p>
      </div>
    </div>
  </div>
</div>
